*
!frontend
!backend
!.babelrc
!.env
!.env.prod
!.env.local
!.env.test
!tsconfig.json
!tsconfig.frontend.json
!tsconfig.backend.json
!package.json
!package-lock.json
!webpack.config.js
!eslintrc.json

backend/public/*
