@font-face {
    font-family: 'Centra No1';
    font-weight: 400;
    font-style: normal;
    src: url('CentraNo1-Book.woff2') format('woff2'),
        url('CentraNo1-Book.woff') format('woff');
}

@font-face {
    font-family: 'Centra No1';
    font-weight: 500;
    font-style: normal;
    src: url('CentraNo1-Medium.woff2') format('woff2'),
        url('CentraNo1-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Centra No1';
    font-weight: 600;
    font-style: normal;
    src: url('CentraNo1-Medium.woff2') format('woff2'),
        url('CentraNo1-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Centra No1';
    font-weight: 700;
    font-style: normal;
    src: url('CentraNo1-Bold.woff2') format('woff2'),
        url('CentraNo1-Bold.woff') format('woff');
}

@font-face {
    font-family: 'pp_agrandirtextbold';
    font-weight: normal;
    font-style: normal;
    src: url('ppagrandir-textbold-webfont.woff2') format('woff2'),
        url('ppagrandir-textbold-webfont.woff') format('woff');
}
